/*aboutus*/
.newcontentL .newbottomL {
    position: relative;
    overflow: hidden;
    margin-top: 3%;
    margin-bottom: 3%;
}
.newcontentL .newbottomL h2{
    font-size: 2rem;
    margin: 30px 0;
    width: 40%;
}
.titleSite{
    font-family: "微軟正黑體";
}
.newcontentL .newbottomL .about1 {
    width: 100%;
    height: 100%;
}
.newcontentL .newbottomL .about1 img {
    width: 60%;
    height: auto;
    position: relative;
    margin-left: 45%;
}
.newcontentL .newbottomL .about1 .aboutinfo {
    width: 35%;
    margin: -35% 0 8% 0;
    background-color: rgba(255,255,255,.6);
    color: #000;
    border: 3px solid #000;
    font-family: "微軟正黑體";
    line-height: 2rem;
    font-size: 1rem;
}
.newcontentL .newbottomL .aboutinfo p {
    padding: 20px;
}

.newcontentL .newbottomL .about2 {
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
}
.newcontentL .newbottomL .about2 .titleR{
    margin: -10% 0 0 55%;
}
.newcontentL .newbottomL .about2 img {
    width: 100%;
    height: auto;
    margin: 17% 0 5% 0;
}

.newcontentL .newbottomL .about2 .aboutinfo {
    width: 100%;
    margin: 0;
    background-color: rgba(255,255,255,.6);
    color: #000;
    font-family: "微軟正黑體";
    line-height: 2rem;
    font-size: 1rem;
}
.newcontentL .newbottomL .about2 .aboutinfo p {
    padding: 20px;
}
.shopinfo {
    width: 100%;
    margin-bottom: 8%;
}
.s1, .s2 {
    width: 100%;
    height: 240px;
    border: solid 1px #000000;
    position:relative;
    overflow: hidden;
    background-color: rgba(255,255,255,.6);
    line-height: 0;

}
.s2 {
    margin-top: 5%;
}
.s1pic{
    width: 50%;
    height: 100%;
    float:left;
}
.s1pic img{
    width: 100%;
    height: auto;
}
.s2pic{
    width: 50%;
    height: 100%;
    float:left;

}
.s2pic img{
    width: 100%;
    height: auto;
}
.shopc1{
    width: 50%;
    height: 100%;
    padding:5%;
    font-family: "微軟正黑體";
    font-weight: bold;
    float:left;
}
.shopname{
    /*padding-top: 3%;*/
    font-size:1.7rem ;
    color: #666;
}
.shopadd{
    padding-top: 4%;
    font-size:0.8rem ;
}
.shopc1 p {
    line-height: 2rem;
    font-size: 0.8rem;
}
.shopclear{
    clear: both;
}
@media only screen and (min-width: 768px) and (max-width:1200px){
    .about1, .about2{
        background-color: rgba(255,255,255,.6);
    }
    .s2pic{
        width: 100%;
        height:50%;
        float:none;
    }
    .s1pic{
        width: 100%;
        height: 50%;
        float:none;
    }
    .shopc1{
        font-family: "微軟正黑體";
        font-weight: bold;
        width: 100%;
        height: 50%;
        padding:4%;
        float:none;
    }

    .shopinfo{
        margin-top: 10%;
        border: 1px solid #cccccc;
        background-color: #fff;
    }
    .s1{
        width: 100%;
        height: 100%;
        padding-top:6%;
        border: none;
    }
    .s2{
        width: 100%;
        height: 100%;
        border: none;
        padding-bottom: 12%;
    }
    .newcontentL .newbottomL h2{
        width: 100%;
        padding: 5% 0 0 5%;
    }
    .newcontentL .newbottomL .about1 img {
        width: 100%;
        margin-left: 0;
    }
    .newcontentL .newbottomL .about2 .titleR{
        margin: 0;
    }
    .about1 img,.about2 img{
        padding: 5%;
    }
    .newcontentL .newbottomL .about2 img{
        margin: 0;
    }
    .s1pic img{
        height: auto;
        padding-right:5%;
        padding-left: 5%;
    }
    .s2pic img{
        height: auto;
        padding-top: 10%;
        padding-right:5%;
        padding-left: 5%;
    }
    .newcontentL .newbottomL .aboutinfo {
        margin-top: 10%;
        width: 100%;
        height: 16%;
        text-align: justify;
        padding: 0 5px 10px 5px;

    }
    .newcontentL .newbottomL .about1 .aboutinfo {
        width: 100%;
        margin: 0;
        border-width: 0;
        line-height: 2rem;
        font-size: 0.8rem;
    }
    .newcontentL .newbottomL .about2 .aboutinfo {
        width: 100%;
        height: 14%;
        color: #000;
        line-height: 2rem;
        font-size: 0.8rem;
        text-align: justify;
        padding: 0 5px 10px 5px;
    }
    .shopname{
        padding-top: 3%;
        font-size: 24px;
        color: #666;
        line-height: 30px;
    }
    .shopadd {
        padding-top: 8%;
        font-size: 0.5rem;
    }
    .shopc1 p {
        line-height: 26px;
        font-size: 0.8rem;
    }
    .about1{
        border: 1px #cccccc solid;
    }
    .about2{
        margin-top: 10%;
        border: 1px #cccccc solid;
    }

}
@media screen and (max-width: 767px){
    .about1, .about2{
        background-color: rgba(255,255,255,.6);
    }
    .s2pic{
        width: 100%;
        height:50%;
        float:none;
    }
    .s1pic{
        width: 100%;
        height: 50%;
        float:none;
    }
    .shopc1{
        font-family: "微軟正黑體";
        font-weight: bold;
        width: 100%;
        height: 50%;
        padding:4%;
        float:none;
    }

    .shopinfo{
        margin-top: 10%;
        border: 1px solid #cccccc;
        background-color: #fff;
    }
    .s1{
        width: 100%;
        height: 100%;
        padding-top:6%;
        border: none;
    }
    .s2{
        width: 100%;
        height: 100%;
        border: none;
        padding-bottom: 12%;
    }
    .newcontentL .newbottomL h2{
        width: 100%;
        padding: 5% 0 0 5%;
    }
    .newcontentL .newbottomL .about1 img {
        width: 100%;
        margin-left: 0;
    }
    .newcontentL .newbottomL .about2 img{
        margin: 0;
    }
    .newcontentL .newbottomL .about2 .titleR{
        margin: 0;
    }
    .about1 img,.about2 img{
        padding: 5%;
    }
    .s1pic img{
        height: auto;
        padding-right:5%;
        padding-left: 5%;
    }
    .s2pic img{
        height: auto;
        padding-top: 10%;
        padding-right:5%;
        padding-left: 5%;
    }
    .newcontentL .newbottomL .aboutinfo {
        margin-top: 10%;
        width: 100%;
        height: 16%;
        text-align: justify;
        padding: 0 5px 10px 5px;

    }
    .newcontentL .newbottomL .about1 .aboutinfo {
        width: 100%;
        margin: 0;
        border-width: 0;
        line-height: 1.5rem;
        font-size: 0.8rem;
    }
    .newcontentL .newbottomL .about2 .aboutinfo {
        width: 100%;
        height: 14%;
        background-color: #fff;
        color: #000;
        line-height: 1.5rem;
        font-size: 0.8rem;
        text-align: justify;
        padding: 0 5px 10px 5px;
    }
    .shopname{
        padding-top: 3%;
        font-size: 24px;
        color: #666;
        line-height: 30px;
    }
    .shopadd {
        padding-top: 8%;
        font-size: 0.8rem;
    }
    .shopc1 p {
        line-height: 26px;
        font-size: 0.8rem;
    }
    .about1{
        border: 1px #cccccc solid;
    }
    .about2{
        margin-top: 10%;
        border: 1px #cccccc solid;
    }
}

/*exhibition*/
.newex{
    padding-right:15px;
    width: 100%;
    height: 100%;
}
.space{
    width: 100%;
    margin-top:3% ;
}
.exinfo{
    width: 100%;
    border: solid 1px #000000;
    position:relative;
    overflow: hidden;
}
.expic{
    width: 50%;
    height: 100%;
    float: left;
    line-height: 0;
}
.expic img{
    width: 100%;
    height: auto;
}
.ex{
    position: relative;
    background-color: rgba(255, 255, 255,.8);
}
.exc{
    width: 50%;
    float: left;
    padding:3%;
    font-family: "微軟正黑體";

}
.exc h2{
    font-size: 2.5rem;
}
.exc p{
    padding-top: 5%;
    line-height: 1.5rem;
    font-size: 0.8rem;
}
.clearex{
    clear: both;
}
.open{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0.9;
    display: block;
    transition: 1.2s;
    position: relative;
}
.open span{
    width: inherit;
    height: 350px;
    position: absolute;
    background-size: cover;

}

.pic1 span{
    background: url("../images/tokyo.jpg") 50%  50% no-repeat #fff;
}
.pic2 span{
    background: url("../images/china.jpg") 50%  50% no-repeat #fff;
}
.pic3 span{
    background: url("../images/sh.jpg") 50%  50% no-repeat #fff;
}
.pic4 span{
    background: url("../images/pr01.jpg") 50%  50% no-repeat #fff;
}
.ex:hover .open{
    opacity: 0;
    transition: 1.2s;
}
@media only screen and (min-width: 768px) and (max-width:1200px) {
    .open{
        display: none;
    }
    .exc{
        width: 100%;
        float: none;
        padding:5%;
    }
    .expic{
        width: 100%;
        height: 100%;
        float:none;
    }
}
@media screen and (max-width: 767px){
    .newex{
        padding-right:5px;
    }
    .exc{
        width: 100%;
        float: none;
        padding:5%;
    }
    .expic{
        width: 100%;
        height: 100%;
        float:none;
    }
    .open{
        display: none;
    }
    .exc h2{
        font-size: 1.5rem;

    }
}
