.wrapper {
    width: 100%;
    height: 100%;
    font-size: 100%;
    position: absolute;
    box-sizing: border-box;
}
.member{
    width: 100%;
    height: 100%;
    position:absolute;
    /*background-color: #70503e;*/
    padding-right: 140px;
}
/*.member p{*/
   /*opacity: 0;*/
/*}*/
/*------------------會員資料---------------------*/
.membertext{
    /*padding-top: 100px;*/
    width: 100%;
    height:100%;
    /*background-color: hsla(213, 54%, 48%, 0.5);*/
    color:#000;
}
.member .registervertical h2{
    font-weight: bold;
    font-size: 2.5rem;
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 40px;
    font-family: 'cwTeXHei', 微軟正黑體;
}
/*-----------------vertical------------------------*/
.wrapper .registertable{
    display: table;
}
.wrapper .registertable  .registervertical {
    vertical-align: middle;
    display: table-cell;
}

/*---------------------------錯誤訊息------------------------------*/
.membertext .registeralert{
    /*background-color: #00007d;*/
    padding-top: 13px;
    color: #a3120a;
    font-size:1.2rem ;
}
.membertext .registeralert i{
    margin-right: 10px;
}
/*------如果此為您第一次購買eye candle 商品-----------*/
.membertip1{
    margin:auto;
    width: 80%;
    /*background-color: hsla(32, 37%, 67%, 0.78);*/
    margin-bottom:40px;
    margin-top: 20px;
    color: #B28146;
}
/*------------------------送貨資訊------------------------*/
.membertip2{
    margin:auto;
    width: 80%;
    /*background-color: hsla(32, 37%, 67%, 0.78);*/
    margin-bottom:30px;
    color: #B28146;
}
/*---------------------------input範圍----------------------------------*/
.pass,.Confirmpass,.mail,.Accountnumber,.name,.address{
    width: 80%;
    height: 60px;
    margin:auto;
    /*background-color: hsla(215, 94%, 50%, 0.5);*/
    margin-bottom:25px;
}
.phone{
    width: 80%;
    height: 60px;
    margin:auto;
    margin-bottom:10px;
}
.Confirmpass{
    margin-bottom:50px;
}
.memberbtn{
    width: 80%;
    margin:auto;
    /*background-color: hsla(215, 94%, 50%, 0.5);*/
}
/*----------------所有inpute大小樣式----------------------*/
.inputstyle{
    font-size: 2rem;
    width: 100%;
    border:none;
    border-bottom: 1px solid #000;
    outline:0;
}
/*--------------------inpute radio 獨出來-------------------------------*/
/*------範圍--------*/
.radio{
    font-size: 1rem;
    margin:auto;
    width: 80%;
    /*background-color: hsla(146, 38%, 30%, 0.5);*/
    margin-bottom:3%;
}
.radio div:first-child{
    margin-right: 5%;
    display: inline-block;
    width: 45%;
    /*background-color: #e82c0b;*/
}
.radio div:last-child{
     display: inline-block;
     width: 45%;
     /*background-color: #85be61;*/
 }
.radio input[type="radio"]{
    position: relative;
    margin-left: 5px;
    margin-right:40px;
}
/*--------radio  點選圓圈--------*/
.selectcircle{
    vertical-align: middle;
    width: 30px;
    height: 30px;
}
/*----------------全打完有錯誤會秀出的MSG-----------------*/
.registerwrapmsg{
    margin: auto;
    width: 80%;
    height: 50px;
    /*background-color: #a00;*/
}
.registerwrapmsg .msg{
    color: #a3120a;
    text-align: center;
    font-size: 1.2rem;
}
.registerwrapmsg .msg i{
    margin-right: 10px;
}
/*----------------------送出按鈕---------------------------*/

.inputsub{
    line-height: 70px;
    float: left;
    font-size: 1.5rem;
    width: 50%;
    height: 75px;
    background-color: #fff;
    outline: 0;
    position: relative;
    transition: all .6s;
}
.inputsub:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    outline: solid 1px #000;
    transform: scale3d(1, 1, 1);
    transition: all .6s;
}
.inputsub:hover{
    color: #fff;
    background-color: rgba(0,0,0,.8)
}
.inputsub:hover:after{
    opacity: 0;
    transform: scale3d(.8, .8, 1);
}
/*-------------------flash_message--------------*/
.flash_message{
    padding: 10px 0;
    text-align: center;
    margin:auto;
    width: 80%;
    font-size: 1.3rem;
    background-color: #FCFFF5;
    cursor: pointer;
    /*border: 1px solid #4A7749;*/
}
.close_message{
    color:#4A7749;
}
.close_message:hover{
    color:#4A7749;
}
.close_message i{
    padding-left: 10px;
}

/*--------------------@media-------------------------*/
@media screen and (min-width: 768px) and (max-width: 1200px){
    /*------------------會員資料---------------------*/
    .membertext{
        width: 100%;
        height:100%;
        /*background-color: hsla(213, 54%, 48%, 0.5);*/
        color:#000;
        /*padding-top: 130px;*/
    }
    .member .registervertical h2{
        font-weight: bold;
        font-size: 2rem;
        width: 60%;
        margin: auto;
        text-align: center;
        padding-bottom: 40px;
        font-family: 'cwTeXHei', 微軟正黑體;
    }
    /*---------------------------錯誤訊息------------------------------*/
    .membertext .registeralert{
        /*background-color: #00007d;*/
        color: #a3120a;
        font-size:.8rem ;
        padding-top: 15px;
    }
    .membertext .registeralert i{
        margin-right: 10px;
    }
    /*----------------所有inpute大小樣式----------------------*/
    .inputstyle{
        font-size: 1.4rem;
        width: 100%;
        border:none;
        border-bottom: 1px solid #000;
        outline:0;
    }
    /*----------------------送出和紐---------------------------*/
    .inputsub{
        line-height: 70px;
        float: left;
        font-size: 1.5rem;
        width: 50%;
        height: 30%;
        background-color: #fff;
        outline: 0;
    }
    /*---------------------------input範圍----------------------------------*/
    .pass,.Confirmpass,.mail,.Accountnumber,.name,.address{
        width: 80%;
        height: 60px;
        margin:auto;
        /*background-color: hsla(215, 94%, 50%, 0.5);*/
        margin-bottom:15px;
    }
    .phone{
        width: 80%;
        height: 60px;
        margin:auto;
        margin-bottom:0px;
    }
    .Confirmpass{
        margin-bottom:30px;
    }
    .memberbtn{
        width: 80%;
        margin:auto;
        /*background-color: hsla(215, 94%, 50%, 0.5);*/
    }

    /*----------------全打完有錯誤會秀出的MSG-----------------*/
    .registerwrapmsg{
        margin: auto;
        width: 80%;
        height: 50px;
        /*background-color: #a00;*/
    }
    .registerwrapmsg .msg{
        color: #a3120a;
        text-align: center;
        font-size: 1rem;
    }
    .registerwrapmsg .msg i{
        margin-right: 10px;
    }
}


@media screen and (max-width: 767px) {
    .member{
        width: 100%;
        height: 100%;
        position:absolute;
        /*background-color: #70503e;*/
        padding-right:0;
        padding-top: 50px;
        padding-bottom: 45px;
    }
    /*------------------會員資料---------------------*/
    .membertext{
        /*padding-top: 110px;*/
        width: 100%;
        height:100%;
        /*background-color: hsla(213, 54%, 48%, 0.5);*/
        color:#000;
    }
    .member .registervertical h2{
        font-weight: bold;
        font-size: 1.6rem;
        width: 60%;
        margin: auto;
        text-align: center;
        padding-bottom: 40px;
        font-family: 'cwTeXHei', 微軟正黑體;
    }
    /*----------------所有inpute大小樣式----------------------*/
    .inputstyle{
        font-size: 1rem;
        width: 100%;
        border:none;
        border-bottom: 1px solid #000;
        outline:0;
    }
    /*------如果此為您第一次購買eye candle 商品-----------*/
    .membertip1{
        margin:auto;
        width: 80%;
        /*background-color: hsla(32, 37%, 67%, 0.78);*/
        margin-bottom:15px;
        margin-top:20px;
        color: #B28146;
    }
    /*------------------------送貨資訊------------------------*/
    .membertip2{
        margin:auto;
        width: 80%;
        /*background-color: hsla(32, 37%, 67%, 0.78);*/
        margin-bottom:15px;
        color: #B28146;
    }
    /*------如果此為您第一次購買eye candle 商品-----------*/
    .membertip1,.membertip2{
        /*margin-bottom:4%;*/
        font-size: 1rem;
        line-height: 1.5rem;

    }
    /*---------------------------input範圍----------------------------------*/
    .pass,.Confirmpass,.mail,.Accountnumber,.name,.address,.phone,.memberbtn{
        width: 80%;
        margin:auto;
        /*background-color: hsla(215, 94%, 50%, 0.5);*/
        margin-bottom:0px;
    }
    .phone{
        width: 80%;
        height: 60px;
        margin:auto;
        margin-bottom:0px;
    }
    .Confirmpass{
        margin-bottom:0px;
    }
    /*---------------------------錯誤訊息------------------------------*/
    .membertext .registeralert{
        color: #a3120a;
        font-size:.5rem ;
    }
    .membertext .registeralert i{
        margin-right: 10px;
    }
    /*--------------------inpute radio 獨出來-------------------------------*/
    /*------範圍--------*/
    .radio{
        font-size: .5rem;
        margin:auto;
        width: 80%;
        /*background-color: hsla(146, 38%, 30%, 0.5);*/
        margin-bottom:5%;
    }
    .radio div:first-child{
        margin-right: 5%;
        display: inline-block;
        width: 40%;
        /*background-color: #e82c0b;*/
    }
    .radio div:last-child{
        display: inline-block;
        width: 40%;
        /*background-color: #85be61;*/
    }
    .radio input[type="radio"]{
        position: relative;
        margin-left: 5px;
        margin-right:10%;

    }
    /*--------radio  點選圓圈--------*/
    .selectcircle{
        vertical-align:middle;
        width: 20px;
        height: 25px;
    }
    /*----------------------送出按鈕---------------------------*/
    .inputsub{
        font-size: 1rem;
        line-height:normal;
        padding: 4% 0;
        float: left;
        width: 50%;
        height: 30%;
        background-color: #fff;
        outline: 0;
    }
    /*----------------全打完有錯誤會秀出的MSG-----------------*/
    .registerwrapmsg{
        margin: auto;
        width: 80%;
        height: 50px;
        /*background-color: #a00;*/
    }
    .registerwrapmsg .msg{
        color: #a3120a;
        text-align: center;
        font-size: .5rem;
    }
    .registerwrapmsg .msg i{
        margin-right: 10px;
    }
    .phone{
        width: 80%;
        height: 60px;
        margin:auto;
        margin-bottom:0px;
    }
    .inputsub{
        line-height:0px;
        float: left;
        font-size: 1rem;
        width: 50%;
        height: 40px;
        background-color: #fff;
        outline: 0;
        position: relative;
        transition: all .6s;
        margin-bottom: 20px;
    }
    /*----------------全打完有錯誤會秀出的MSG-----------------*/
    .registerwrapmsg{
        margin: auto;
        width: 80%;
        height: 30px;
        /*background-color: #a00;*/
    }
    /*-------------------flash_message--------------*/
    .flash_message{
        padding: 7px 0;
        text-align: center;
        margin:auto;
        width: 80%;
        font-size: 1.1rem;
        cursor: pointer;
    }

    .close_message i{
        padding-left: 10px;
    }

}

